{% extends "layout.html" %}
{% block content %}
<img src="./static/logo.png" alt="logo">
    <div class="container"><br>
      <img src="./static/pet.jpg" alt="logo">
      <div class="row">
          <ul>
            <li>Title: Pet Semetary</li>
            <li>Author: Stephen King</li>
            <li>Description: The road in front of Dr. Louis Creed's rural Maine home frequently claims the lives of neighborhood pets. Louis has recently moved from Chicago to Ludlow with his wife Rachel, their children and pet cat. Near their house, local children have created a cemetery for the dogs and cats killed by the steady stream of transports on the busy highway. Deeper in the woods lies another graveyard, an ancient Indian burial ground whose sinister properties Louis discovers when the family cat is killed.</li>
          </ul>
      </div>
    </div>
{% endblock %}
