{% extends "layout.html" %}
{% block content %}
<img src="./static/logo.png" alt="logo">
    <div class="container"><br>
      <div class="row">
          <div class="col-4">
            <div class="card" style="width: 18rem;">
            <img src="./static/night.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Night Circus</h5>
                <a href="/f1" class="btn btn-primary">Go</a>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card" style="width: 18rem;">
            <img src="./static/pet.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Pet Semetary </h5>
                <a href="/f2" class="btn btn-primary">Go</a>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card" style="width: 18rem;">
            <img src="./static/drac.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Drcula</h5>
                <a href="f3" class="btn btn-primary">Go</a>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
