{% extends "layout.html" %}
{% block content %}
<img src="./static/logo.png" alt="logo">
    <div class="container"><br>
      <div class="row">
        <img src="./static/bad.jpg" alt="logo">
          <ul>
            <li>Title: Badass</li>
            <li>Author: Ben Thompson</li>
            <li>Description: The badasses populating the pages of Badass are the most savagely awesome historical figures to ever strap on a pair of chain mail gauntlets and run screaming into battle. Author Ben Thompson—considered by many to be the Internet’s foremost expert on badassitude—has gathered together a rogues’ gallery of butt-stomping rogues, from Julius Caesar and Genghis Khan to Blackbeard, George S. Patton, and Bruce Lee. Their bone-breaking exploits are illustrated by top artist from the fields of gaming, comics, and cards—DC Comics illustrator Matt Haley and Thomas Denmark, illustrator for the collectible card game Magic: The Gathering. This is not your boring high school history—this is tough, manly, unrelentingly Badass!</li>
          </ul>
      </div>
    </div>
{% endblock %}
