{% from '_macros.html' import show_fiction, show_fictions with context %}
{% from '_macros.html' import show_science, show_sciences with context %}
{% from '_macros.html' import show_history, show_historys with context %}
<!doctype html>
<html>
<header>
  <img src="/static/logo.png" alt="logo">
</header>
  <head>
    <title>Book Review Assignment</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  </head>
  <body>
    <div class="container top">
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
