{% extends "layout.html" %}
{% block content %}
<img src="./static/logo.png" alt="logo">
    <div class="container"><br>
      <img src="./static/tarzan.jpg" alt="logo">
      <div class="row">
          <ul>
            <li>Title: Tarzan of the Apes</li>
            <li>Author: Edgar Rice Burroughs</li>
            <li>Description: When a ship's mutiny forces a young noble English couple out onto the remote African coast, their child is born into the wild. Their deaths a short time later leave the boy alone in the jungle wilderness--until a she-ape adopts him and raises him as her own. Reluctantly accepted into the tribe by its fierce leader, Kerchak, the baby Tarzan must prove himself by learning the ways of survival in the jungle: how to talk with animals, swing through the trees, and fight the great predators. In time, his strength, courage, and human intelligence earn him a place as Lord of the Jungle. But when civilized men enter the jungle, Tarzan is forced to choose between two worlds. Edgar Rice Burroughs' classic tale is both a reflection on civilization from an outside point of view and an exploration of the primal force within us all.
            Narrated by Simon Prebble (less)
            </li>
          </ul>
      </div>
    </div>
{% endblock %}
